// Styling for the team section
.team-member {
  margin-bottom: 50px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 5px 5px rgb(94, 94, 97);
  padding: 10px;
  background-color: white;

  img {
    width: 300px;
    height: 400px;
 
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}
