// Styling for the team section
.team-member {
  margin-bottom: 50px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #CCC;
  background: #FFF;
  box-shadow: 2px 2px 3px #CCC;
  line-height: 80px;

  img {
    width: 300px;
    height: 400px;
 
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}

.team-member:hover {
  cursor: pointer;
  box-shadow: none;
}